# LangChain Core
langchain
langchain-core
langchain-community

# OpenAI Integration
langchain-openai
openai
tiktoken

# Anthropic Integration
langchain-anthropic

# Google Gemini Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Document Loaders
pypdf
python-docx
requests==2.32.4
youtube-transcript-api

# Vector Stores
langchain-chroma
chromadb
faiss-cpu

# Structured Output
pydantic[email]

# Environment Variable Management
python-dotenv

# Machine Learning & Data Utilities
numpy
scikit-learn
pandas

# Frontend and UI
streamlit